<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title || current.path.join('/') %><%= title_tagline %></title>

  <% for(var i=0; i<styles.length; i++) {%>
    <link rel="stylesheet" href="<%= styles[i] %>">
  <% } %>

  <%- partial("_ga") %>
</head>
<body id="<%= current.path.join('_') %>">
  <header>
    <%- partial("_nav") %>
  </header>

  <%- yield %>


  <%- partial("_footer") %>
  <%- partial("_modernizr") %>

  <% for(var i=0; i<javascripts.length; i++) {%>
    <script src="<%= javascripts[i] %>"></script>
  <% } %>
</body>
</html>
